* {
  box-sizing: border-box;
  max-width: 1920px;
}

body {
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
  margin: 0;
}

.container {
  min-width: 95%;
  margin: 0.7rem;
}

.mt-1 {
  margin-top: 1rem;
}

.button {
  background-color: #222;
  max-width: max-content;
  color: #f8f8f8;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.3rem 0;
}

.button:hover {
  background-color: #333;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
}

.navigation {
  background-color: blanchedalmond;
  width: 25%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  width: 75%;
}

.text {
  text-decoration: none;
  margin: 0.2rem 0;
}

.text--dark {
  text-decoration: none;
  color: #222;
}

.text--danger {
  color: red;
}

.list {
  list-style: none;
}

.list__item {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.list__item:hover {
  background-color: rgb(180, 194, 255);
  cursor: pointer;
  border-radius: 5px;
}

.table {
  margin: 0;
  border-collapse: collapse;
}

.table th,
td {
  border: 0.5px solid #222;
  padding: 0.3rem;
}

.table thead {
  font-weight: 600;
}

.table tbody {
  text-align: center;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 3px #222;
  margin: 0;
}

.card--width-max-content {
  max-width: max-content;
}

.card--light {
  background-color: #f8f8f8;
  color: #111;
}

.card--dark {
  background-color: #222;
  color: #f8f8f8;
}

.card__title {
  margin: 0;
  border-bottom: 1px solid #111;
  margin-inline: -1rem;
  margin-bottom: 1rem;
  padding: 0 1rem 0.5rem 1rem;
}
