* {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

.mt-1 {
  margin-top: 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}

.navigation {
  background-color: blanchedalmond;
  width: 30%;
  min-height: 100vh;
  padding: 0;
}

.content {
  width: 100%;
}

.text {
  text-decoration: none;
  color: #111;
}

.list {
  list-style: none;
}

.list__item {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.list__item:hover {
  background-color: rgb(180, 194, 255);
  cursor: pointer;
  border-radius: 5px;
}

.table {
  margin: 0;
  border-collapse: collapse;
}

.table th,
td {
  border: 0.5px solid #222;
  padding: 0.3rem;
}

.table thead {
  font-weight: 600;
}

.table tbody {
  text-align: center;
}
